/* ROBOT.GIF from Giphy - https://giphy.com/gifs/govtech-singapore-robots-cny-govtech-JqIKtgJFb3kNtC2bP9*/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./robot.gif");
  background-size: contain;
  background-position: 20% 50%;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: white;
  background: rgb(217, 17, 32);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

button:hover {
  filter: brightness(87%);
}

button:active {
  transform: scale(0.98);
}

button:active {
  cursor: default;
  filter: brightness(60%);
}

/* Media Query */
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
  button {
    box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px,
      rgba(0, 0, 0, 0.32) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px,
      rgba(0, 0, 0, 0.37) 0px 12px 13px, rgba(0, 0, 0, 0.29) 0px -3px 5px;
  }
}
